* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Gilroy /* Use your preferred font-family */
    
}

body {
    line-height: 1.6;
    background-color: black;
}
.DonateDirectNav{
    font-size:larger;
    justify-content:center;
    align-items: center;
    display: flex;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}
.containertext{
    font-size: 4em;
    letter-spacing: 2px;
    font-family:Gilroy ;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
     typing 3s,
     cursor .4s step-end infinite alternate;
    ;
}
@keyframes cursor{
    50%{
        border-color: transparent;

    }

}
@keyframes typing {
    from{
        width: 0;

    }
}

header {
    background: black;
    color: #fff;
    padding: 20px 0;
}

header h1 {
    float: left;
    margin-top: 10px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 5px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
}

header nav ul li a:hover {
    background: #477D69;
}

header .donate-now {
    background: #477D69;
    /* color: #333; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: large;
}

header .donate-now:hover {
    background: #477D69;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#477D69;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

nav li:hover .dropdown-content {
  display: block;
}
header nav ul li .donation-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
header nav ul li .donation-btn .btn {
  color: white; 
  text-transform: none;
  font-size: 20px;
}

/* /Global btn styles/ */
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: 15px;
  border: none;
}
/* /Container styles/ */
.donating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* /Main button styles/ */
.btn {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 140px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-indent: 50px;
  transition: 300ms;
  font-weight: 500;
}

.btn::before {
  content: "";
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #477D69;
  z-index: -1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: 400ms;
}

.btn:hover {
  text-indent: 15px;
  color: white;
  font-weight: 600;
}
.btn:active {
  scale: 0.95;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover::after {
  left: calc(100% - 25px);
}

.donation-btn {
  float: left;
  margin : 0;
  margin-top: 0;
  padding-bottom: 0%;
}

.slider {
  position: relative;
  max-width: 100%;
  margin: auto;
  overflow: hidden;
}

.slides {
  display: flex;
  transition: transform 0.5s ease-in-out;
  width: 300%; /* Increased width to show parts of previous and next slides */
}

.slide {
  min-width: 33.3333%; /* Adjust width to show 3 slides at a time */
  box-sizing: border-box;
  position: relative;
}

.slide img {
  width: 100%;
  vertical-align: middle;
}

.caption {
  position: absolute;
  bottom: 100px;
  left: 900px;
  color: black;
  /* background: rgba(0, 0, 0, 0.5); */
  padding: 10px;
  border-radius: 5px;
}

.caption h2 {
  margin: 0;
  font-size: 24px;
}

.caption button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  justify-content: center;
  align-items: center;
}

.prev {
  left: 0px;
  /* border-radius: 3px 0 0 3px; */
  /* border-radius: 20px; */
  color: black;
  width: 100%;
  max-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background: #fff;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.08);
  cursor: pointer;
}

.next {
  right: 0;
  border-radius: 3px 3px 0 0;
  color: black;
  width: 100%;
  max-width: 38px;
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 80px;
  background: #fff;
  box-shadow: 0 2px 9px 0 rgba(0,0,0,.08);
  cursor: pointer;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.dots {
  text-align: center;
  padding: 10px;
  /* background: #333; */
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot.active, .dot:hover {
  background-color: #717171;
}

.card {
  position: relative;
  width: 350px;
  height: 350px;
  background-color: #f2f2f2;
  border-radius: 10px;
  display: flex;
  flex-direction: column; 
  align-items: center;
  /* justify-content: center; */
  overflow: hidden;
  perspective: 1000px;
  box-shadow: 0 0 0 5px #ffffff80;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card svg {
  width: 48px;
  fill: #333;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.card__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #477D69;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card:hover .card__content {
  transform: rotateX(0deg);
}

.card__title {
  margin: 0;
  font-size: 24px;
  color: white;
  font-weight: 700;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card:hover svg {
  scale: 0;
}

.card__description {
  margin: 10px 0 0;
  font-size: 20px;
  color: white;
  line-height: 1.4;
  /* font-style: italic; */
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.maincard{
  display: flex;
flex-wrap: wrap;
gap: 20px;
/* background-color:; */
padding: 20px;
justify-content: center;
}

.img{

  background-color: #ffcaa6;
  height: auto;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: .5rem; */
  transition: .3s ease;
}