*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: Gilroy;
  }
  html,body{
    height:100%;
    width:100%;
  }
  #main{
    height:100%;
    width: 100%;
    position: relative ;
  }
  #nav{
    height:100px;
    width:100%;
    /* background-color: cadetblue; */
    /* border-bottom: 2px solid #dadada; */
    display:flex;
    justify-content: space-between;
    padding: 0 4vw;
    height: 60px;
  }
  
  .nav-part2{
    display: flex;
    gap:4vw;
    align-items: center;
  }
  
  .nav-part2 li{
  
    list-style-type: none;
    display: inline;
  }
  
  .navButtons:hover{
  
    color: white;
    transform: scale3d(1.3, 1.3, 1.3);
    transition: all ease 0.4s;
  }
  
  .navButtons {
  
    color: black;
    text-decoration: none;
  }
  .nav-part2 h4:hover{
  color:#fff;
  transform: scale3d(1.1, 1.1, 1.1);
  transition: all ease 0.4s;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color:#5FA88D;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    }
    
    .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    }
    
    .dropdown-content a:hover {
    background-color: #575757;
    }
  
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    nav li:hover .dropdown-content {
    display: block;
    }
    header nav ul li .donation-btn {
    display: inline-block;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    }
  span {
  transition: transform ease 0.4s;
  }
  
  span:hover {
  transform: scale3d(1.3, 1.3, 1.3);
  }
  #nav h2{
    font-size: 1.5vw;
    font-weight: 700;
    margin-top:1.4vw;
  }
  
  #nav h4{
    font-size: 1.1vw;
  }
  
  #nav button{
    font-size: 1vw;
    padding:0.7vw  1.4vw;
    background-color: #FF735C;
    color:#fff;
    border: none;
    border-radius: 5px;
    font-weight: 600;
  }
  
  #nav i{
    font-size: 1.2vw;
    font-weight:600 ;
    display:none;
  }
  @media(max-width:600px){
    #nav{
        padding: 1 5vw;
    }
    #nav h2{
        font-size: 5.1vw;
  }
  
  #nav h4{
    font-size:4vw;
    display: none;
  }
  #nav i{
    display: block;
    font-size: 4.5vw;
  }
  #nav button{
    display: none;
  
  }
  .col-25, .col-75, input[type=submit] {
  width: 100%;
  margin-top: 0;
  }
  }
  
  .heading{
  
    color: black;
    padding: 0;
    /* margin: 0rem; */
    font-size: 4vw;
    padding-left: 2vw;
    margin-bottom: 0;
  
  }
  
  .written{
  margin-bottom: 0vw;
  }
  .image{
  
    height: 300px;
    padding-left: 900px;
    padding-bottom: 70px;
    padding-right: 20px;
    mix-blend-mode: multiply;
    position: absolute;
    top: 55px;
    right: 15px;
  margin-top: 3vw;
  border-radius: 44px;
  margin-right: 2vw;
  margin-bottom: 0;
  padding: 0;}
  
  .flex-container{
  
  background-color: #5FA88D;
  margin: 0px;
  padding: 30px;
  font-size: 30px;
  border-radius: 20px;
  border-color: black;
  border-style: solid;
  width: 650px;
  height: 350px;
  margin-left: 50px;
  margin-top: 10px;
  text-align: center;
  font-size: 40px;
  
  }
  
  .flex-container>div{
  
    margin: 20px;
    padding: 20px;
  }
  .pickup{
  
    height: 50px;
    width: 200px;
    border-radius: 10px;
    /* padding: 10px; */
    background-color: #111;
    color: #fff;
    margin-right: 20px;
  }
  .pickup:hover{
  background-color: #fff;
  color:#111;
  }
  #subtext{
  /* margin-left: 3vw;
  margin-top: 0.5rem;
  margin-bottom: 3vw; */
  /* padding: 28vw; */
  padding-left: 0.1vw;
  margin-left: 0.1vw;
  font-size: 1.5vw;
  }
  .dropoff{
  
    /* padding: 20px; */
    height: 50px;
    width: 200px;
    border-radius: 10px;
    background-color: #111;
    color: #fff;
    margin-right: 20px;
    /* margin-bottom: 200px; */
   
    /* border-spacing: 30px; */
  }
  .dropoff:hover{
  background-color: #fff;
  color:#111;
  }
  
  #grad1 {
    height: 500px;
    background-color: #5FA88D; 
    background-image: linear-gradient(#5FA88D,white);
    /* background-image: linear-gradient(to top, white, #5FA88D); */
    padding-top: 2.2vw;
    
  }
  
  .grad1{
  
        height: 500px;
        background-color: #5FA88D; 
        
        /* background-image: linear-gradient(#5FA88D, white); */
      
  }
  .form{
    margin: 1vw 4vw;
    text-align: justify;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: none;
  }
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  /* .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  } */
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .preference{
    margin-left: 3vw;
    margin-top: 20px;
    padding-top: 0px;
    font-size: 20px;
  }
  
  .form {
    margin: 1vw 4vw;
    text-align: justify;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    display: none;
  }
  
  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
  .col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
  }
  
  .col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .preference {
    margin-left: 3vw;
    margin-top: 20px;
  }
  
  .container {
    width: 100%;
    background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
    border-radius: 40px;
    padding: 25px 35px;
    box-shadow: rgba(133, 189, 215, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .input {
    width: 100%;
    padding: 15px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 10px;
  }
  
  .login-button {
    width: 100%;
    background: #5FA88D;
    color: white;
    padding: 15px;
    margin: 20px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  
  .login-button:hover {
    background-color: #477D69;
  }
  
  .social-account-container {
    text-align: center;
    margin: 20px 0;
  }
  
  .social-accounts {
    display: flex;
    justify-content: center;
    gap: 10px;
  }
  
  .social-button {
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-button.google {
    background-color: #dd4b39;
  }
  
  .social-button.apple {
    background-color: #333;
  }
  
  .social-button.twitter {
    background-color: #1da1f2;
  }
  
  .svg {
    fill: white;
    width: 25px;
    height: 25px;
  }
  
  .agreement {
    margin-top: 20px;
    font-size: 0.9em;
    color: #888;
  }