#nav{
  height:100px;
  width:100%;
  /* background-color: cadetblue; */
  /* border-bottom: 2px solid #dadada; */
  display:flex;
  justify-content: space-between;
  padding: 0 4vw;
  height: 60px;
  /* box-shadow: 5x 5px black; */
}

.nav-part2{
  display: flex;
  gap:4vw;
  align-items: center;
  
}

.nav-part2 li{

  list-style-type: none;
  display: inline;
}

.navButtons:hover{

  color: white;
  transform: scale3d(1.3, 1.3, 1.3);
  transition: all ease 0.4s;
}

.navButtons {

  color: black;
  text-decoration: none;
}
.nav-part2 h4:hover{
color:#fff;
transform: scale3d(1.1, 1.1, 1.1);
transition: all ease 0.4s;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#5FA88D;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  }
  
  .dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  }
  
  .dropdown-content a:hover {
  background-color: #575757;
  }

  .dropdown:hover .dropdown-content {
      display: block;
  }
  
  nav li:hover .dropdown-content {
  display: block;
  }
  header nav ul li .donation-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
  }
span {
transition: transform ease 0.4s;
}

span:hover {
transform: scale3d(1.3, 1.3, 1.3);
}
#nav h2{
  font-size: 1.5vw;
  font-weight: 700;
  margin-top:1.4vw;
}

#nav h4{
  font-size: 1.1vw;
}

#nav button{
  font-size: 1vw;
  padding:0.7vw  1.4vw;
  background-color: #FF735C;
  color:#fff;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}
