body {
    font-size: 16px; /* Set base font size */
    font-family: Gilroy, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.DonateDirectNav{
    font-size:larger;
    justify-content:center;
    align-items: center;
    display: flex;
}
.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    
}
.containertext{
    font-size: 4em;
    letter-spacing: 2px;
    font-family:Gilroy ;
    border-right: 5px solid;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
     typing 3s,
     cursor .4s step-end infinite alternate;
    ;
}
@keyframes cursor{
    50%{
        border-color: transparent;

    }

}
@keyframes typing {
    from{
        width: 0;

    }
}

header {
    /* background: black; */
    /* color: #fff; */
    padding: 5px 0;
}

header h1 {
    float: left;
    margin-top: 10px;
}

header nav {
    float: right;
    margin-top: 10px;
}

header nav ul {
    list-style: none;
}

header nav ul li {
    display: inline;
    margin: 0 5px;
}

header nav ul li a {
    /* color: #fff; */
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: background 0.3s;
    color: black;
}

header nav ul li a:hover {
    background: #477D69;
}

header .donate-now {
    background: #477D69;
    /* color: #333; */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: large;
}

header .donate-now:hover {
    background: #477D69;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color:#477D69;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #575757;
}

nav li:hover .dropdown-content {
  display: block;
}
header nav ul li .donation-btn {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle;
}
header nav ul li .donation-btn .btn {
  color: black; 
  text-transform: none;
  font-size: 20px;
}

/* /Global btn styles/ */
.btn {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  font-size: 15px;
  border: none;
}
/* /Container styles/ */
.donating {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
/* /Main button styles/ */
.btn {
  position: relative;
  height: fit-content;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 140px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-indent: 50px;
  transition: 300ms;
  font-weight: 500;
}

.btn::before {
  content: "";
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  left: 0;
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  background-color: #477D69;
  z-index: -1;
}

.btn::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 17px;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 12px;
  height: 12px;
  border-top: 2px solid #fff;
  border-right: 2px solid #fff;
  transition: 400ms;
}

.btn:hover {
  text-indent: 15px;
  color: white;
  font-weight: 600;
}
.btn:active {
  scale: 0.95;
}

.btn:hover::before {
  width: 100%;
}

.btn:hover::after {
  left: calc(100% - 25px);
}

.donation-btn {
  float: left;
  margin : 0;
  margin-top: 0;
  padding-bottom: 0%;
}
/* Hero section styles */
.hero {
    color: #fff;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.hero-section {
    background-image: url(smiles-africa-chartiy-title-1030x509.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
}


.hero-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    padding: 0 5vw;
}

.hero-text h1 {
    font-size: 3vw;
    margin-bottom: 1vw;
}

.hero-text p {
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .hero-text h1 {
        font-size: 7vw;
    }

    .hero-text p {
        font-size: 4vw;
        margin-top: 2vw;
    }
}

/* Call to action styles */
#call-to-action {
    text-align: center;
    padding: 5vw 2vw;
    background-color: #fff;
    border-top: 2px solid #ddd;
}

#call-to-action h2 {
    font-size: 2.5vw;
    margin-bottom: 2vw;
}

#call-to-action button {
    background-color: #5FA88D;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2vw;
    transition: background-color 0.3s ease;
}

#call-to-action button:hover {
    background-color: #47806c;
}

@media (max-width: 768px) {
    #call-to-action h2 {
        font-size: 5vw;
    }

    #call-to-action button {
        font-size: 4vw;
        padding: 3vw 5vw;
    }
}

/* Info section styles */
#info {
    display: none; /* Initially hidden */
    padding: 5vw 2vw;
    background-color: #EFF1F0;
    text-align: center;
    
}

#info h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
}

#info p {
    font-size: 1.2vw;
    margin-bottom: 1vw;
}

#info input {
    padding: 1vw;
    font-size: 1vw;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 2vw;
    width: 80%;
}

#info button {
    background-color: #5FA88D;
    color: #fff;
    border: none;
    padding: 1vw 2vw;
    border-radius: 50px;
    cursor: pointer;
    font-size: 1.2vw;
    transition: background-color 0.3s ease;
}

#info button:hover {
    background-color: #47806c;
}

@media (max-width: 768px) {
    #info h2 {
        font-size: 5vw;
    }

    #info p {
        font-size: 4vw;
    }

    #info input {
        font-size: 3.5vw;
        padding: 2vw;
        width: 90%;
    }

    #info button {
        font-size: 4vw;
        padding: 3vw 5vw;
    }
}

/* Services section styles */
#services {
    padding: 5vw 2vw;
    background-color: #5FA88D;
}

#services h2 {
    text-align: center;
    font-size: 2vw;
    margin-bottom: 2vw;
}

.services-content {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    background-color: #fff;
    padding: 2vw;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 45%;
    margin-bottom: 2vw;
    text-align: center;
    color: #000;
}

.service h4 {
    font-size: 1.8vw;
    margin: 1vw 0;
}

.service p {
    font-size: 1.2vw;
    line-height: 1.5;
}

@media (max-width: 768px) {
    #services h2 {
        font-size: 5vw;
        margin-bottom: 4vw;
    }

    .services-content {
        flex-direction: column;
        align-items: center;
    }

    .service {
        width: 90%;
        margin-bottom: 5vw;
    }

    .service h4 {
        font-size: 5vw;
        margin-bottom: 3vw;
    }

    .service p {
        font-size: 3.5vw;
    }
}